Host {{ groups['lxc-host'][0] }}
	HostName 127.0.0.1
	User {{ ansible_user }}
	Port {{ virtualbox_ssh_port }}

{% for lxc_guest_hostname in groups['lxc-guest'] %}
Host {{ lxc_guest_hostname }}
	ProxyCommand ssh -F ./.ssh/config -W %h:%p {{ ansible_user }}@{{ groups['lxc-host'][0] }}
	UpdateHostKeys yes
	StrictHostKeyChecking no
	IdentityFile ./.ssh/proxy-id_rsa
{% endfor %}
